@mixin link($right) {
    margin-top: 1rem;
    position: absolute;
    right: $right;
    text-decoration: none;
    color: $mainwhite;
    background-color: $orange;
    padding: 1rem 3rem;
    font-size: 14px;
    letter-spacing: .2rem;

}